body {
  background: #161616;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111;
  box-shadow: 0 0 3px rgba(254, 254, 254, 0.3);
  z-index: 100000000000;
}
.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header__menu-list {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header__menu-link {
  transition: 0.3s;
  font-weight: 500;
  color: #fefefe;
  background: #111;
}
.header__menu-link:hover {
  color: #E1F066;
  text-decoration: none;
}
@media screen and (max-width: 993px) {
  .header .navbar-collapse {
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(225, 240, 102, 0.5);
  }
  .header .nav-item {
    line-height: 50px;
    border-bottom: 1px solid #fefefe;
  }
  .header .nav-item:last-child {
    border-bottom: none;
  }
  .header .header__menu-link {
    padding-left: 10px;
  }
}

.main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 10px 10px 10px;
  border-radius: 15px;
}
.main-section {
  padding-top: 30px;
}

.section__title {
  text-align: center;
  color: #fefefe;
  font-size: 45px;
  position: relative;
}
.section__title:after {
  content: "";
  display: block;
  height: 3px;
  width: 300px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: #E1F066;
}
.section__paragraph {
  text-align: center;
  margin: 30px 0;
}
.section__link {
  display: block;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  max-width: 350px;
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  text-decoration: none;
  background: #fefefe;
  color: #000;
  font-weight: 600;
  transition: 0.3s;
  font-weight: 700;
  font-size: 16px;
}
.section__link--wide {
  width: 100%;
  margin-top: 0;
}
.section__link:hover {
  background: #E1F066;
}

.about__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__column {
  border-radius: 20px;
  padding: 50px 15px 15px 15px;
  text-align: center;
  background: #232323;
  margin: 0 10px 20px 10px;
  width: calc(25% - 20px);
}
@media screen and (max-width: 993px) {
  .about__column {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 600px) {
  .about__column {
    width: calc(100% - 20px);
  }
}
.about .about__subtitle {
  margin: 15px 0;
}
.about__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.about__list li {
  width: 32%;
  text-align: center;
  line-height: 50px;
  background: #232323;
  border-radius: 20px;
  color: #fefefe;
  font-weight: 600;
  transition: 0.3s;
}
.about__list li:hover {
  color: #000;
  box-shadow: 0 0 5px #E1F066;
  background: #E1F066;
}

.about-item__icon {
  font-size: 45px;
}
.about-item__icon i::before {
  color: #E1F066;
}
.about-item__title, .about-item__icon {
  margin-bottom: 15px;
}
.about-item__title {
  color: #fefefe;
}

.experience__item {
  display: flex;
  width: 100%;
  gap: 20px;
  border-radius: 20px;
  background: #232323;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}
.experience__logo {
  max-width: 300px;
  max-height: 300px;
}
.experience__logo figure {
  overflow: hidden;
}
.experience__logo img {
  border-radius: 10px;
  object-fit: cover;
}
.experience__title {
  color: #fefefe;
  font-weight: 600;
  margin-bottom: 15px;
}
.experience__paragraph {
  font-size: 1em;
  line-height: 25px;
  margin-bottom: 10px;
}
.experience__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.experience__list li {
  width: 32%;
  text-align: center;
  line-height: 50px;
  background: #232323;
  border-radius: 20px;
  color: #fefefe;
  font-weight: 600;
  transition: 0.3s;
}
.experience__list li:hover {
  color: #000;
  box-shadow: 0 0 5px #E1F066;
  background: #E1F066;
}
.experience span {
  color: #E1F066;
  font-weight: 600;
}

.testimonials {
  margin-top: 30px;
}
.testimonials__item {
  display: flex;
  width: 100%;
  height: 150px;
  gap: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background: #232323;
}
.testimonials__name {
  color: #fefefe;
  margin-top: 10px;
  margin-bottom: 15px;
}
.testimonials__avatar img {
  height: 150px;
  width: 150px;
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 768px) {
  .testimonials h3 {
    font-size: 15px;
  }
  .testimonials p {
    font-size: 10px;
  }
}

.price__table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background: #181818;
}
.price__table td {
  height: 50px;
  padding: 10px;
}
.price__table tbody td {
  background: #232323;
  transition: 0.3s;
}
.price__table tbody td:hover {
  background: #161616;
}
.price__table tbody tr {
  border-bottom: 1px solid #181818;
}
.price__table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}
.price__table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}
.price__table thead {
  background: #fefefe;
  font-weight: 600;
}
.price__table thead td {
  color: #000;
}
.price__table thead td:first-child {
  border-radius: 20px 0 0 0;
}
.price__table thead td:last-child {
  border-radius: 0 20px 0 0;
}
.price__table--2 tbody td {
  width: 50%;
}
.price__table--2 tbody td:nth-child(2n+1) {
  border-right: 1px solid #E1F066;
}
.price__table--3 tbody td {
  width: 33%;
  border-right: 1px solid #E1F066;
}
.price__table--3 tbody td:nth-child(3n) {
  border-right: none;
}

.contact {
  margin-top: 30px;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #232323;
  padding: 30px 10px;
  border-radius: 20px;
}
.contact__halfline {
  width: 49.5%;
}
.contact__halfline label {
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .contact__halfline {
    width: 100%;
  }
}
.contact__line {
  width: 100%;
}
.contact input, .contact textarea, .contact select {
  width: 100%;
  display: block;
  margin: 10px 0 30px 0;
  background: #111111;
  border: none;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}
.contact textarea {
  resize: none;
  height: 150px;
}
.contact button {
  border: none;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 150px;
  background: #181818;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
footer p {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
